.header{
    padding: 1rem 0 1rem;
    justify-content: center;
    justify-items: flex-end;
    margin: 0;
    transform: scale(1.1);
    transform-origin: 0 0;
// background-color: #f1f1f1;
// padding: 30px;
// text-align: center;
// font-size: 35px;
}

.title{
 color: #000000;
 font-Size: 3rem;
 justify-content: center;
}

.nav-list{
  display: flex;
  list-style: none;
  margin: 0;
  text-decoration: none;
}

.nav-item {
     color: #808080;
     font-size: .9rem;
     margin-right: 1.3rem;
     text-decoration: none;
}
.nav-item:hover {
     color: #666666
}

.active-nav-item{
     color: #01024b;
}

// body {
//      margin:0;
//      padding:0;
//      font-family: sans-serif;
// }

// nav {
//      width: 100%;
//      background: #e0dd1e
// }

// ul {
//      width: 80%;
//      margin: 0 auto;
//      padding: 0;
// }

// ul li {
//      list-style: none;
//      display: inline-block;
//      padding: 20px;
// }

// ul li:hover {
//   background: #b8b519
// }

// ul li a {
//      color: #fff;
// }


//custom cabecalho